<!DOCTYPE html>
<html lang="ko">
  <% include ./include/head %>
  <body>
    <div class="login_wrap">
      <div>
        <h1><img src="img/logo.png" alt="한강수병원" /></h1>
        <section>
          <article class="welcome">
            <h2>환영합니다</h2>
            <h3>보건관리자 전용<br />현장 보건관리 업무</h3>
            <div class="login">
              <input type="text" placeholder="아이디" />
              <input type="text" placeholder="비밀번호" />
              <label class="checkbox">
                <input type="checkbox" name="" id="" /><i></i>아이디 저장
              </label>
              <div class="btns">
                <button type="button">로그인</button>
                <button type="button" class="btn_white">신규가입요청</button>
              </div>
            </div>
          </article>
          <article class="notice">
            <h4>공지사항</h4>
            <ul>
              <li>
                <a href="#a">2022년 특수검진 비용 수가 고시</a
                ><span>2022.12.06</span>
              </li>
              <li>
                <a href="#a">2022년 춘계 직업환경의학회 학회 일정</a
                ><span>2022.12.05</span>
              </li>
              <li>
                <a href="#a">한강수병원 4월 중요 업무 공지</a
                ><span>2022.11.26</span>
              </li>
              <li>
                <a href="#a">한강수병원 보건복지부 우수병원 인증 내역</a
                ><span>2022.11.08</span>
              </li>
              <li>
                <a href="#a">코로나 19 관련 협조 안내</a><span>2022.10.05</span>
              </li>
              <li>
                <a href="#a">생명나눔 주간 안내</a><span>2022.09.28</span>
              </li>
              <li>
                <a href="#a">비급여 진료 비용 안내</a><span>2022.09.20</span>
              </li>
              <li><a href="#a">휴진 안내</a><span>2022.09.13</span></li>
              <li>
                <a href="#a">개인정보처리방침 개정 공지</a
                ><span>2022.09.02</span>
              </li>
              <li><a href="#a">기타 등등</a><span>2022.08.15</span></li>
            </ul>
          </article>
          <article class="calendar">
            <h4>
              출장검진일정
              <div class="month">2022.12</div>
            </h4>
            <table>
              <tr>
                <th>일</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
              </tr>
              <tr>
                <td><span>1</span></td>
                <td><span>2</span></td>
                <td><span>3</span></td>
                <td><span>4</span></td>
                <td><span>5</span></td>
                <td><span>6</span></td>
                <td><span>7</span></td>
              </tr>
              <tr>
                <td><span>8</span></td>
                <td><span>9</span></td>
                <td><span>10</span></td>
                <td><span>11</span></td>
                <td><span>12</span></td>
                <td><span>13</span></td>
                <td><span>14</span></td>
              </tr>
              <tr>
                <td><span>15</span></td>
                <td class="on"><span>16</span></td>
                <td><span>17</span></td>
                <td><span>18</span></td>
                <td><span>19</span></td>
                <td><span>20</span></td>
                <td><span>21</span></td>
              </tr>
              <tr>
                <td><span>22</span></td>
                <td><span>23</span></td>
                <td><span>24</span></td>
                <td><span>25</span></td>
                <td><span>26</span></td>
                <td><span>27</span></td>
                <td><span>28</span></td>
              </tr>
              <tr>
                <td><span>29</span></td>
                <td><span>30</span></td>
                <td><span>31</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </article>
        </section>
        <% include ./include/footer %>
      </div>
    </div>
  </body>
</html>
