<!DOCTYPE html>
<html lang="ko">
  <% include ./include/head %>
  <body>
    <div id="wrap">
      <% include ./include/menu %>
      <section id="right">
        <p class="tit">건강진단 사전조사</p>
        <form action="" class="srch">
          <div class="row w80">
            <label class="w20">
              이름
              <input type="text" />
            </label>
            <label class="w20">
              생년월일
              <input type="text" />
            </label>
            <label class="w20">
              현장명
              <select name="" id=""></select>
            </label>
            <label class="w20">
              휴대폰
              <input type="text" />
            </label>
            <button type="button" class="btn_gray">조회</button>
          </div>
          <div class="btns">
            <button type="button">등록</button>
            <button type="button" class="btn_white">삭제</button>
          </div>
        </form>
        <table>
          <colgroup>
            <col width="3%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="10%" />
          </colgroup>
          <tr>
            <th rowspan="2">
              <label class="checkbox"
                ><input type="checkbox" name="" id="" /><i></i
              ></label>
            </th>
            <th rowspan="2">요청일</th>
            <th rowspan="2">현장 조사일</th>
            <th rowspan="2">검토 완료일</th>
            <th rowspan="2">검토결과(대상/비대상)</th>
            <th rowspan="2">검토대상<br />유해인자</th>
            <th rowspan="2">협력업체명</th>
            <th rowspan="2">직 종</th>
            <th rowspan="2">검토결과서(다운)</th>
            <th colspan="6">자료제출여부(해당시)</th>
            <th rowspan="2">비 고</th>
          </tr>
          <tr>
            <th>명단</th>
            <th>작측결과</th>
            <th>이전 검진결과</th>
            <th>MSDS</th>
            <th>작업내용</th>
            <th>기타</th>
          </tr>
          <tr>
            <td>
              <label class="checkbox"
                ><input type="checkbox" name="" id="" /><i></i
              ></label>
            </td>
            <td>22.5.26</td>
            <td>22.6.1</td>
            <td>22.6.2</td>
            <td>비대상</td>
            <td>N/A</td>
            <td>김현대</td>
            <td>김현대</td>
            <td>첨부</td>
            <td>ㅇ</td>
            <td>N/A</td>
            <td>ㅇ</td>
            <td>ㅇ</td>
            <td>ㅇ</td>
            <td>-</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label class="checkbox"
                ><input type="checkbox" name="" id="" /><i></i
              ></label>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label class="checkbox"
                ><input type="checkbox" name="" id="" /><i></i
              ></label>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label class="checkbox"
                ><input type="checkbox" name="" id="" /><i></i
              ></label>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label class="checkbox"
                ><input type="checkbox" name="" id="" /><i></i
              ></label>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label class="checkbox"
                ><input type="checkbox" name="" id="" /><i></i
              ></label>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label class="checkbox"
                ><input type="checkbox" name="" id="" /><i></i
              ></label>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label class="checkbox"
                ><input type="checkbox" name="" id="" /><i></i
              ></label>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label class="checkbox"
                ><input type="checkbox" name="" id="" /><i></i
              ></label>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label class="checkbox"
                ><input type="checkbox" name="" id="" /><i></i
              ></label>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <label class="checkbox"
                ><input type="checkbox" name="" id="" /><i></i
              ></label>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <div class="paging">
          <a href="#a" class="first">맨 처음</a>
          <a href="#a" class="prev">이전</a>
          <a href="#a" class="on">1</a>
          <a href="#a">2</a>
          <a href="#a">3</a>
          <a href="#a">4</a>
          <a href="#a">5</a>
          <a href="#a">6</a>
          <a href="#a">7</a>
          <a href="#a">8</a>
          <a href="#a">9</a>
          <a href="#a">10</a>
          <a href="#a" class="next">다음</a>
          <a href="#a" class="last">맨 끝</a>
        </div>
      </section>
    </div>
    <% include ./include/pop_up/pop_wrap %>
  </body>
</html>
