<!DOCTYPE html>
<html lang="ko">
  <% include ./include/head %>
  <body>
    <div id="wrap">
      <% include ./include/menu %>
      <section id="right">
        <p class="tit">공지사항</p>
        <div class="row">
          <ul class="tab w70">
            <li class="on">탭1</li>
            <li>탭2</li>
            <li>탭3</li>
          </ul>
          <form action="" class="w30">
            <input type="text" name="" id="" placeholder="검색어 입력" />
            <button type="button" class="btn_gray">검색</button>
          </form>
        </div>
        <div class="tab_content mt20">
          <table class="tbl">
            <colgroup>
              <col width="60%" />
              <col width="15%" />
              <col width="10%" />
              <col width="15%" />
            </colgroup>
            <tr>
              <th>제 목</th>
              <th>첨부파일</th>
              <th>작성자</th>
              <th>작성일</th>
            </tr>
            <tr>
              <td class="align_left">2022년 특수검진 비용 수가 고시</td>
              <td></td>
              <td>관리자</td>
              <td>2022.12.06</td>
            </tr>
            <tr>
              <td class="align_left">한강수병원 4월 중요 업무 공지</td>
              <td></td>
              <td>관리자</td>
              <td>2022.12.06</td>
            </tr>
            <tr>
              <td class="align_left">
                한강수병원 보건복지부 우수병원 인증 내역
              </td>
              <td></td>
              <td>관리자</td>
              <td>2022.12.06</td>
            </tr>
            <tr>
              <td class="align_left">코로나 19 관련 협조 안내</td>
              <td></td>
              <td>관리자</td>
              <td>2022.12.06</td>
            </tr>
            <tr>
              <td class="align_left">2022년 특수검진 비용 수가 고시</td>
              <td></td>
              <td>관리자</td>
              <td>2022.12.06</td>
            </tr>
            <tr>
              <td class="align_left">2022년 특수검진 비용 수가 고시</td>
              <td></td>
              <td>관리자</td>
              <td>2022.12.06</td>
            </tr>
            <tr>
              <td class="align_left">2022년 특수검진 비용 수가 고시</td>
              <td></td>
              <td>관리자</td>
              <td>2022.12.06</td>
            </tr>
            <tr>
              <td class="align_left">2022년 특수검진 비용 수가 고시</td>
              <td></td>
              <td>관리자</td>
              <td>2022.12.06</td>
            </tr>
            <tr>
              <td class="align_left">2022년 특수검진 비용 수가 고시</td>
              <td></td>
              <td>관리자</td>
              <td>2022.12.06</td>
            </tr>
            <tr>
              <td class="align_left">2022년 특수검진 비용 수가 고시</td>
              <td></td>
              <td>관리자</td>
              <td>2022.12.06</td>
            </tr>
            <tr>
              <td class="align_left">2022년 특수검진 비용 수가 고시</td>
              <td></td>
              <td>관리자</td>
              <td>2022.12.06</td>
            </tr>
            <tr>
              <td class="align_left">2022년 특수검진 비용 수가 고시</td>
              <td></td>
              <td>관리자</td>
              <td>2022.12.06</td>
            </tr>
          </table>
          <div class="paging">
            <a href="#a" class="first">맨 처음</a>
            <a href="#a" class="prev">이전</a>
            <a href="#a" class="on">1</a>
            <a href="#a">2</a>
            <a href="#a">3</a>
            <a href="#a">4</a>
            <a href="#a">5</a>
            <a href="#a">6</a>
            <a href="#a">7</a>
            <a href="#a">8</a>
            <a href="#a">9</a>
            <a href="#a">10</a>
            <a href="#a" class="next">다음</a>
            <a href="#a" class="last">맨 끝</a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
