<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한강수 병원</title>
    <link rel="stylesheet" href="css/styl.css">
</head>
<body>
    <div id="wrap">
        <aside id="left">
            <h1><img src="img/logo_w.png" alt="한강수병원"></h1>
            <p class="info">접속자 정보</p>
            <nav class="gnb">
                <a href="#a">공지사항</a>
                <a href="#a" class="active">건강진단 사전조사</a>
                <a href="#a">건강진단 결과</a>
                <a href="#a">견적서 조회</a>
                <a href="#a">기타 보건자료</a>
                <a href="#a">결과 상세조회</a>   
                <a href="#a">기타 보건자료</a>      
                <a href="#a">검진요청</a>                                                                                                                     
            </nav>
        </aside>
        <section id="right">
            <p class="tit">건강진단 사전조사</p>
            <form action="" class="srch">
                <div class="row w80">
                    <label class="w20">
                        이름
                        <input type="text">
                    </label>
                    <label class="w20">
                        생년월일
                        <input type="text">
                    </label>
                    <label class="w20">
                        현장명
                        <select name="" id=""></select>
                    </label>
                    <label class="w20">
                        휴대폰
                        <input type="text">
                    </label>
                    <button type="button" class="btn_gray">조회</button>
                </div>
                <div class="btns">
                    <button type="button">등록</button>
                    <button type="button" class="btn_white">삭제</button>
                </div>
            </form>
            <table>
                <colgroup>
                    <col width="3%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="6%">
                    <col width="10%">
                </colgroup>
                <tr>
                    <th rowspan="2">
                        <label class="checkbox"><input type="checkbox" name="" id=""><i></i></label>
                    </th>
                    <th rowspan="2">요청일</th>
                    <th rowspan="2">현장 조사일</th>
                    <th rowspan="2">검토 완료일</th>
                    <th rowspan="2">검토결과(대상/비대상)</th>
                    <th rowspan="2">검토대상<br>유해인자</th>
                    <th rowspan="2">협력업체명</th>
                    <th rowspan="2">직 종</th>
                    <th rowspan="2">검토결과서(다운)</th>
                    <th colspan="6">자료제출여부(해당시)</th>
                    <th rowspan="2">비 고</th>
                </tr>
                <tr>
                    <th>명단</th>
                    <th>작측결과</th>
                    <th>이전 검진결과</th>
                    <th>MSDS</th>
                    <th>작업내용</th>
                    <th>기타</th>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox"><input type="checkbox" name="" id=""><i></i></label>
                    </td>
                    <td>22.5.26</td>
                    <td>22.6.1</td>
                    <td>22.6.2</td>
                    <td>비대상</td>
                    <td>N/A</td>
                    <td>김현대</td>
                    <td>김현대</td>
                    <td>첨부</td>
                    <td>ㅇ</td>
                    <td>N/A</td>
                    <td>ㅇ</td>
                    <td>ㅇ</td>
                    <td>ㅇ</td>
                    <td>-</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox"><input type="checkbox" name="" id=""><i></i></label>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox"><input type="checkbox" name="" id=""><i></i></label>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox"><input type="checkbox" name="" id=""><i></i></label>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox"><input type="checkbox" name="" id=""><i></i></label>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox"><input type="checkbox" name="" id=""><i></i></label>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox"><input type="checkbox" name="" id=""><i></i></label>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox"><input type="checkbox" name="" id=""><i></i></label>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox"><input type="checkbox" name="" id=""><i></i></label>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox"><input type="checkbox" name="" id=""><i></i></label>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="checkbox"><input type="checkbox" name="" id=""><i></i></label>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class="paging">
                <a href="#a" class="first">맨 처음</a>
                <a href="#a" class="prev">이전</a>
                <a href="#a" class="on">1</a>
                <a href="#a">2</a>
                <a href="#a">3</a>
                <a href="#a">4</a>
                <a href="#a">5</a>
                <a href="#a">6</a>
                <a href="#a">7</a>
                <a href="#a">8</a>
                <a href="#a">9</a>
                <a href="#a">10</a>
                <a href="#a" class="next">다음</a>
                <a href="#a" class="last">맨 끝</a>
            </div>
        </section>
    </div>

    <!-- 팝업 -->
    <div class="popup_wrap">
        <div class="popup">
            <div class="pop_header">
                <p class="tit">건강검진 사전조사 등록</p>
                <button type="button" class="btn_close">닫기</button>
            </div>
            <div class="pop_content">
                <div class="row">
                    <label>
                        이름
                        <input type="text" name="" id="">
                    </label>
                    <label>
                        생년월일
                        <input type="text" name="" id="">
                    </label>
                </div>
                <div class="row">
                    <label>
                        휴대폰
                        <input type="text" name="" id="">
                    </label>
                    <label>
                        요청일
                        <input type="date" name="" id="">
                    </label>
                </div>            
                <div class="row">
                    <label>
                        작업내용
                        <input type="text" name="" id="">
                    </label>
                    <label>
                        작업내용
                        <input type="text" name="" id="">
                    </label>
                </div>
            </div>
            <div class="btns align_center">
                <button type="button">등록</button>
                <button type="button" class="btn_white">취소</button>
            </div>
        </div>
    </div>

    <script>
        const btnClose = document.querySelector('.btn_close');
        btnClose.closest('.popup_wrap')
        btnClose.addEventListener('click', function(e){
            let target = e.target.closest('.popup_wrap');
            target.style.display = 'none'
        });
    </script>
</body>
</html>
